body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f7f7f7;
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 85%;
  max-width: 600px;
  max-height: 85%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container > h1 {
  font-family: 'Josefin Slab', sans-serif;
  font-size: 2.5rem;
}

input {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#recipeContainer {
  margin-top: 20px;
  display: none;
  text-align: left;
}

#recipeImage {
  margin-top: 10px;
  border-radius: 8px;
}

#recipeIngredients {
  list-style-type: none;
}